@font-face {
  font-family: 'NotoSansUI';
  src: url('../fonts/NotoSansUI-Regular.ttf'),
    url('../fonts/NotoSansUI-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansUI';
  src: url('../fonts/NotoSansUI-Italic.ttf'),
    url('../fonts/NotoSansUI-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'NotoSansUI';
  src: url('../fonts/NotoSansUI-Bold.ttf'), url('../fonts/NotoSansUI-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSansUI';
  src: url('../fonts/NotoSansUI-BoldItalic.ttf'),
    url('../fonts/NotoSansUI-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

.glyphicons-list {
  list-style: none;
  padding: 0;
}

.glyphicons-list li {
  display: inline-block;
  float: left;
  width: 12.5%;
  height: 115px;
  background-color: #f8f8f8;
  border: 1px solid #fff;
  padding: 10px;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.glyphicons-list li:hover {
  background-color: #eee;
}

.glyphicons-list .glyphicon {
  display: block;
  text-align: center;
  font-size: 25px;
  color: #222;
}

.glyphicons-list .glyphicon-class {
  display: block;
  text-align: center;
  margin-top: 10px;
  line-height: 16px;
  font-size: 13px;
}

.fa-page-header {
  font-size: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #f1f1f1;
}

.fontawesome-icon-list .fa-hover {
  margin-bottom: 5px;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.fontawesome-icon-list .fa-hover:hover {
  background-color: #f8f8f8;
}

.fontawesome-icon-list .fa-hover .fa {
  width: 25px;
  color: #222;
}

@media (max-width: 767px) {
  .glyphicons-list li {
    width: 25%;
  }
}

.prism-languages {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.prism-languages li {
  width: 33.3333%;
  float: left;
}

.prism-languages li code {
  margin-left: 8px;
}

@media (max-width: 991px) {
  .prism-languages li {
    width: 50%;
  }
}

.window-content .btn {
  margin-bottom: 6px;
}

.code-tabs .languages .btn.active,
.code-tabs .languages .btn:active,
.navbar-default.navbar-light .active > a,
.navbar-default.navbar-light .active > a:focus,
.navbar-default.navbar-light .active > a:hover,
.navbar-default.navbar-light .open > a,
.navbar-default.navbar-light .open > a:focus,
.navbar-default.navbar-light .open > a:hover,
.navbar-default.navbar-light li > a:focus,
.navbar-default.navbar-light li > a:hover,
.pager li > a:hover,
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover,
.promo > .fa,
.promo > .glyphicon,
.sidebar-boxed .sidenav > li.open,
.sidebar-boxed .sidenav > li > a.open,
.sidebar-boxed .sidenav > li > a:hover,
.sidenav a.active,
.sidenav a:hover,
.sidenav li.active > a,
.sidenav > li > a.active,
.sidenav > li > a:hover,
.tabs-btn .nav-tabs li.active a,
.tabs-text .nav-tabs > li.active a,
.toc a:active,
.toc a:hover,
a,
a:focus,
a:hover,
h1 a:before,
h2 a:before,
h3 a:before {
  color: #a80532;
}

.carousel.indicators-out .carousel-indicators .active,
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover,
.sidebar-line .sidenav a.active:before,
.sidebar-line .sidenav li.active > a:before,
.sidenav > li > ul a.active:before,
.sidenav > li > ul li.active a:before,
.site-header .navbar {
  background-color: #a80532;
}

.carousel.indicators-out .carousel-indicators li {
  border-color: #a80532;
}

.tabs-text .nav-tabs > li.active {
  border-bottom-color: #a80532;
}

.grid-view li {
  border-top-color: #a80532;
}

.sidenav > li > a {
  font-size: 16px;
  line-height: 22px;
  padding: 8px 0px !important;
}

.sidebar-boxed .sidenav a {
  padding: 2px 20px !important;
}

.sidebar-boxed .sidenav > li > a {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.sidebar-boxed .sidenav > li > span:after {
  content: '\f105';
  font-family: FontAwesome;
  position: absolute;
  right: 20px;
  top: 3px;
}

.sidebar-boxed .sidenav > li.active > span:after,
.sidebar-boxed .sidenav > li.open > span:after {
  content: '\f107';
}

span.expander {
  display: inline;
  cursor: pointer;
}

span.expander:hover {
  background-color: red;
}

.highlight {
  background: #ffff40;
}
.searchheading {
  font-size: 130%;
  font-family: 'NexaBold', Arial, Helvetica, Verdana;
}
.summary {
  font-size: 80%;
  font-style: italic;
}
.suggestion {
  font-size: 100%;
}
.results {
  font-size: 100%;
}
.category {
  color: #999999;
}
.sorting {
  text-align: right;
}

.result_title {
  font-size: 100%;
}
.description {
  font-size: 100%;
  color: #000;
}
.context {
  font-size: 100%;
}
.infoline {
  font-size: 80%;
  font-style: normal;
  color: #808080;
  font-family: 'NexaBook', Arial, Helvetica, Verdana;
}

.zoom_searchform {
  font-size: 100%;
}
.zoom_results_per_page {
  font-size: 80%;
  margin-left: 10px;
}
.zoom_match {
  font-size: 80%;
  margin-left: 2px;
}
.zoom_categories {
  font-size: 80%;
}
.zoom_categories ul {
  display: inline;
  margin: 0px;
  padding: 0px;
}
.zoom_categories li {
  display: inline;
  margin-left: 15px;
  list-style-type: none;
}

.cat_summary ul {
  margin: 0px;
  padding: 0px;
  display: inline;
}
.cat_summary li {
  display: inline;
  margin-left: 15px;
  list-style-type: none;
}

input.zoom_button {
  margin-left: 10px;
  width: 70px;
}
input.zoom_searchbox {
  width: 140px;
}

.result_image {
  float: left;
  display: block;
}
.result_image img {
  margin: 10px;
  width: 80px;
  border: 0px;
}

.result_block {
  margin-top: 15px;
  margin-bottom: 15px;
  clear: left;
}
.result_altblock {
  margin-top: 15px;
  margin-bottom: 15px;
  clear: left;
}

.result_pages {
  font-size: 100%;
}
.result_pagescount {
  font-size: 100%;
}

.searchtime {
  font-size: 80%;
}

.recommended {
  background: #dfffbf;
  border-top: 1px dotted #808080;
  border-bottom: 1px dotted #808080;
  margin-top: 15px;
  margin-bottom: 15px;
}
.recommended_heading {
  float: right;
  font-weight: bold;
}
.recommend_block {
  margin-top: 15px;
  margin-bottom: 15px;
  clear: left;
}
.recommend_title {
  font-size: 100%;
}
.recommend_description {
  font-size: 100%;
  color: #008000;
}
.recommend_infoline {
  font-size: 80%;
  font-style: normal;
  color: #808080;
}
.recommend_image {
  float: left;
  display: block;
}
.recommend_image img {
  margin: 10px;
  width: 80px;
  border: 0px;
}

#searchDiv {
  margin: 0px 20px 20px 20px;
  border-bottom: 1px solid #999;
  padding-bottom: 10px;
}

/* RQ: Added this so that the left nav scroll bar is not covered by the footer. */
#leftNav {
  z-index: 100;
}

/* RQ: Added this so that li > p elements wouldn't have more margin than bare li elements. */
li > p {
  margin-bottom: 0;
}

h1 {
  font-weight: 800;
  font-size: 42px;
  line-height: 48px;
  margin-bottom: 45px;
  text-transform: uppercase;
}
h2 {
  font-weight: 600;
  font-size: 38px;
  line-height: 42px;
}
h3 {
  font-weight: 500;
  font-size: 32px;
  line-height: 36px;
}

figcaption {
  text-align: left;
  color: #000;
  font-style: normal;
  font-weight: normal;
}

figure {
  margin-top: 30px;
  margin-bottom: 30px;
}
figure > img {
  padding: 20px 0px;
}

span.figure-number {
  font-family: NotoSansUI, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 800;
}

ol.legend-list {
  counter-reset: LIST-ITEMS;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  font-style: italic;
  border-bottom: 1px solid #999;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

ol.legend-list > li:before {
  content: counter(LIST-ITEMS) '.';
  counter-increment: LIST-ITEMS;
  margin-left: -15px;
  position: absolute;
  font-weight: bold;
}

ol.legend-list li.legend-item {
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 5px;
}

.legend-alert {
  font-family: NotoSansUI, Helvetica Neue, Helvetica, Arial, sans-serif;
  display: inline-block;
  padding: 0 8px 0 8px;
  font-weight: 600;
  font-style: normal;
  margin-right: 5px;
}

.danger {
  background-color: #ff0000;
  color: #fff;
}
.warning {
  background-color: #ff7f00;
  color: #000;
}
.caution {
  background-color: #ffe600;
  color: #000;
}
.note {
  background-color: #fff;
  color: #000;
}
.notice {
  background-color: #074fa0;
  color: #fff;
}
.important {
  background-color: #000;
  color: #fff;
}

.safety-alert {
  position: relative;
  /*margin-left:-70px;*/
  margin-top: 15px;
}

.safety-alert > .alert-image > img {
  width: 100%;
}
.safety-alert > .alert-image {
  margin: 0;
  padding: 0;
  width: 52px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.safety-alert > .alert-statement {
  margin: 0;
  margin-left: 70px;
  border-bottom: 2px solid #999;
  margin-bottom: 30px;
  padding-bottom: 10px;
}

.safety-alert > .alert-statement > span {
  font-family: NotoSansUI, Helvetica Neue, Helvetica, Arial, sans-serif;
  display: inline-block;
  padding: 0 8px 0 8px;
  font-weight: 800;
  font-style: normal;
  margin-right: 5px;
  text-transform: uppercase;
}
.safety-alert > div.alert-statement > span + p {
  display: inline !important;
}
.safety-alert > div.alert-statement > span + p + p {
  margin-top: 10px;
}

.alert {
  position: relative;
  padding: 0;
  margin: 0;
  /*margin-left:-55px;*/
}

.alert > .alert-symbol {
  margin: 0;
  padding: 0;
  width: 35px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: transparent !important;
  background-size: contain;
  background-repeat: no-repeat;
}

.alert > .alert-statement {
  margin: 0;
  margin-left: 55px;
  border-bottom: 2px solid #999;
  margin-bottom: 30px;
  padding-bottom: 10px;
}

.alert > .alert-statement > span {
  font-family: NotoSansUI, Helvetica Neue, Helvetica, Arial, sans-serif;
  display: inline-block;
  padding: 0 8px 0 8px;
  font-weight: 800;
  font-style: normal;
  margin-right: 5px;
  text-transform: uppercase;
}

.alert > .alert-statement > span.note {
  padding: 0 4px 0 0px;
}

.alert > div.alert-statement > span + p {
  display: inline !important;
}
.alert > div.alert-statement > span + p + p {
  margin-top: 10px;
}

.alert > .alert-symbol.danger {
  background-image: url(../img/Danger.png);
}
.alert > .alert-statement > span.danger:before {
  content: 'DANGER!';
}

.alert > .alert-symbol.caution {
  background-image: url(../img/Caution.png);
}
.alert > .alert-statement > span.caution:before {
  content: 'CAUTION!';
}

.alert > .alert-symbol.important {
  background-image: url(../img/Important.png);
}
.alert > .alert-statement > span.important:before {
  content: 'IMPORTANT!';
}

.alert > .alert-symbol.note {
  background-image: url(../img/Note.png);
}
.alert > .alert-statement > span.note:before {
  content: 'NOTE';
}

.alert > .alert-symbol.notice {
  background-image: url(../img/Notice.png);
}
.alert > .alert-statement > span.notice:before {
  content: 'NOTICE!';
}

.alert > .alert-symbol.warning {
  background-image: url(../img/Warning.png);
}
.alert > .alert-statement > span.warning:before {
  content: 'WARNING!';
}

.main-content > section {
  /*margin-left:80px;*/
}

section h1,
section h2 {
  /*margin-left:-80px;*/
}
section h3 {
  /*margin-left:-60px;*/
}

span.table-number {
  font-family: NotoSansUI, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 800;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

th,
td {
  border: 1px solid #000;
}

table caption {
  color: #000;
}

thead > tr:last-child {
  /* RQ: added this rule because I only want a thicker border below the last tr in a thead. */
  border-bottom: 4px solid #000;
}

th {
  font-family: NotoSansUI, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 800;
  line-height: 18px;
  padding: 5px 10px;
}

td {
  padding: 5px 10px;
  line-height: 18px;
}

.bottom-rule-default {
  border-bottom: 1px solid #000;
}
.bottom-rule-medium {
  border-bottom: 4px solid #000;
}
.bottom-rule-none {
  border-bottom: 1px solid transparent;
}

.top-rule-default {
  border-top: 1px solid #000;
}
.top-rule-medium {
  border-top: 4px solid #000;
}
.top-rule-none {
  border-top: 1px solid transparent;
}

.right-rule-default {
  border-right: 1px solid #000;
}
.right-rule-medium {
  border-right: 4px solid #000;
}
.right-rule-none {
  border-right: 1px solid transparent;
}

.left-rule-default {
  border-left: 1px solid #000;
}
.left-rule-medium {
  border-left: 4px solid #000;
}
.left-rule-none {
  border-left: 1px solid transparent;
}

th.center,
td.center {
  text-align: center;
}
th.left,
td.left {
  text-align: left;
}
th.right,
td.right {
  text-align: right;
}

th.top,
td.top {
  vertical-align: top;
}
th.middle,
td.middle {
  vertical-align: middle;
}
th.bottom,
td.bottom {
  vertical-align: bottom;
}

th.shading-default {
  background-color: #ccc;
  color: #000;
}
th.shading-light {
  background-color: #ccc;
  color: #000;
}
th.shading-medium {
  background-color: #999;
  color: #000;
}
th.shading-dark {
  background-color: #333;
  color: #fff;
}
th.shading-reversed {
  background-color: #000;
  color: #fff;
}
th.shading-black {
  background-color: #000;
  color: #fff;
}
th.shading-highlight {
  background-color: #fff248;
  color: #000;
}

td.shading-default {
  background-color: #fff;
  color: #000;
}
td.shading-light {
  background-color: #ccc;
  color: #000;
}
td.shading-medium {
  background-color: #999;
  color: #000;
}
td.shading-dark {
  background-color: #333;
  color: #fff;
}
td.shading-reversed {
  background-color: #000;
  color: #fff;
}
td.shading-black {
  background-color: #000;
  color: #fff;
}
td.shading-highlight {
  background-color: #fff248;
  color: #000;
}

.sidebar-boxed {
  padding-top: 80px;
}

th.vertical_text {
  height: 200px;
  white-space: nowrap;
  width: 30px;
  padding: 0;
}

th.vertical_text > div {
  transform: translate(0px, 75px) rotate(270deg);
  width: 25px;
  font-size: 12px;
}
th.vertical_text > div > span {
  padding: 0px;
}

table.form-table td {
  height: 30px;
}

.mobileshow {
  display: none;
}

.sidenav > li li,
.sidenav > li li a {
  line-height: 18px;
  padding-top: 6px;
  padding-bottom: 6px;
}

ol,
ul {
  padding-left: 20px;
}

.nav-footer {
  position: fixed;
  background-color: #5c6670;
  color: #fff;
  padding: 15px 15px;
  width: 100%;
  bottom: 0;
}

.nav-footer .footer-menu a {
  color: #fff;
}

.nav-footer #scroll-up {
  position: absolute;
  top: -17px;
  right: 0;
  color: #fff;
  background-color: #5c6670;
  display: inline-block;
  width: 34px;
  height: 34px;
  border-radius: 100%;
  text-align: center;
  font-size: 21px;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
  margin-right: 15px;
}
.nav-footer #scroll-up > .fa {
  vertical-align: top;
}

.breadcrumbs {
  margin-left: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.breadcrumbs ~ h2 {
  margin-top: 10px;
}

.main-content > section {
  padding-bottom: 0px;
}

.main-content {
  padding: 30px 50px 50px 0;
}

@media screen and (max-width: 767px) {
  .navbar {
    background-color: #a80532 !important;
  }
  .sidebar.sidebar-boxed .sidenav a {
    padding-left: 10px !important;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
  }
  #searchDiv {
    margin: 0px 20px 20px 10px;
  }
  .mobileshow {
    display: block;
  }

  section > h2[id] > a {
    margin-left: 0px;
  }
  .main-content {
    padding: 20px 20px !important;
  }
}

.material-icons {
  vertical-align: middle;
  float: right;
}

a {
  cursor: pointer;
}
